<launch>

<rosparam file="$(find URDF_FUSION_DESIGN_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="URDF_FUSION_DESIGN" args="Revolute 13_position_controller Revolute 14_position_controller Revolute 16_position_controller Revolute 17_position_controller Revolute 18_position_controller Revolute 19_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/URDF_FUSION_DESIGN/joint_states"/>
</node>

</launch>